/* ------------------------------------------
General
--------------------------------------------- */

body {
  background: #f2f2f2;
}

body, p, li {
  font: normal 300 16px/24px 'Nunito Sans', sans-serif;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px dashed #ccc;
}

.work-entry {
  padding: 0 5%;
  margin-bottom: 2%;
}

.project-entry {
  padding: 0 5%;
  margin-bottom: 3%;
}

.date-text {
  font-style: italic;
  font-size: 1em;
  color: #999;
  /*float: left;*/
  padding-top: 0;
}

.location-text {
  font-size: 1em;
  color: #999;
  line-height: 1em;
}

p {
  color: #333;
  margin: 0;
}

a,
a .h4,
a p {
  color: #00b96f;
  display: block;
}

a:hover,
a .h4:hover,
a p:hover {
  color: #00b96f;
  display: block;
}

ul {
  list-style-type: none;
}


.dark-text {
  color: #1e5aa9;
  padding-right: 5px;
}

.gray-text {
  color: #333;
}

.gray {
  background-color: #e9e9e9;
  border-radius: 20px;
  clear: both;
}

.center-content {
  margin: 2.5% 5%;
  padding: 2%;
}

.header, .projects {
  background: #fff;
  border-radius: 20px;
}

/* ------------------------------------------
Headers
--------------------------------------------- */

.h1 {
  color: #333;
  display: inline;
  padding-right: 3%;
  font: normal 600 60px/60px 'Indie Flower', cursive;
}

.role {
  font-size: 1.2em;
}

.h2 {
  font-weight: 300;
  font-size: 24px;
  color: #1199c3;
  line-height: 29px;
  margin-top: .5em;
}

.h3 {
  color: #00b96f;
  margin-top: 0.5em;
  font-weight: 300;
}

.h4 {
  font-weight: 300;
  color: #333;
  margin-bottom: 5px;
}

/* ------------------------------------------
Sections -- header
--------------------------------------------- */

.header {
  background: #fff;
  border-radius: 20px;
}

.header ul {
  padding-left: 0;
  margin-bottom: 0;
}

.welcome-message {
  color: #666;
  padding-top: 1em;
  font-size: 1.2em;
  line-height: 28px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills {
  padding: 0;
}

.h3-skills {
  color: #00b96f;
  font-size: 20px;
  line-height: 22px;
  margin-top: 0.5em;
}

.flex-column {
  height: 225px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

.skills .flex-item {
  flex-grow: 4;
}

.biopic {
  float: left;
  padding: 1em 2% 0 2%;
  width: 200px;
}

/* ------------------------------------------
Sections -- work experience
--------------------------------------------- */

.work ul {
  margin-bottom: 10px;
}

/* ------------------------------------------
Sections -- projects
--------------------------------------------- */

.project-image {
  width: 600px;
  height: auto;
  margin-bottom: 2em;
}


/* ------------------------------------------
Sections -- education
--------------------------------------------- */

.education-entry {
  margin-top: 1em;
  padding: 0 5%;
}

.education-entry:first-of-type {
  margin-top: 0;
}

.education-h3 {
  font-size: 1.2em;
  padding: 1em 0 0 0;
  color: #00b96f;
  margin-top: 0;
  font-weight: 300;
}

/* ------------------------------------------
Sections -- lists
--------------------------------------------- */

.work li,
.projects li {
  list-style: disc;
  list-style-position: outside;
}

/* ------------------------------------------
Sections -- let's connect
--------------------------------------------- */

.lets-connect {
  text-align: center;
  background: #fff;
  border-radius: 20px;
}

.lets-connect ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* ------------------------------------------
Sections -- copyright
--------------------------------------------- */

.copyright {
  margin-bottom: 1em;
  padding: 0 5%;
  color: #999;
}

.copyright-p {
  font-size: .75em;
  color: #999;
}

/* ------------------------------------------
Sections -- media queries
--------------------------------------------- */

@media only screen and (max-width:900px) {
    .flex-column {
      height: 250px;
  }
}


@media only screen and (max-width: 600px) {

  body,
  p,
  li,
  span {
    font-size: 18px;
  }

  .center-content {
    padding: 2% 5%;
  }

  .h1 {
    display: block;
  }

  .biopic {
    display: none;
  }

  .welcome-message {
    display: block;
  }

  .header .flex-item, .lets-connect .flex-item {
    padding: 0 2%;
  }

  .skills .flex-item {
    padding: 0;
    width: 40%;
  }

  .work ul,
  .projects ul {
    padding-left: 20px;
  }

  .project-image {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {

  .header .h2, {
    text-align: left;
  }

  .flex-box,
  .lets-connect .flex-box {
    display: block;
  }

  .flex-column {
    display: block;
    height: 100%;
  }

  .header .flex-item,
  .lets-connect .flex-item {
    padding: 0;
  }

  .skills .flex-item {
    width: 100%;
  }

  .lets-connect {
    text-align: left;
  }
}

@media only screen and (max-width: 414px) {
  .project-image {
    width: 300px;
    height: auto;
  }
}

@media only screen and (max-width: 414px) {
  .project-image {
    display: none;
  }
}
